@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', sans-serif;

  --color-white: #fff;
  --color-black: #222;
  --color-gray: #2c3d39;
  --color-gray-light: #ccc;
  --color-sidebar: #627b7a;

  --color-active: #418af2;
  --color-active-hover: #2c70d1;

  --color-error: #ff4d4f;
  --color-success: #7ab10e;

  --color-outline: rgba(0, 0, 0, 0.2);
}

@layer base {
  body {
    font-family: var(--font-roboto);
    color: var(--color-black);
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 400;
  }

  /* Hide number input arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
